* {
  box-sizing: border-box;
}

body{
  font-size: 22px;
  font-family: Verdana;
  overflow: hidden;
}

button {
  font-family: Verdana;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.board {
  padding-top: 2vh;
  width: 96vh;
  margin: 0 auto;
}

.board div {
  width: 32vh;
  height: 32vh;
  background-color: #a00;
  float: left;
  color: #fff;
  font-family: Verdana;
  font-size: 32vh;
  text-align: center;
  cursor: pointer;
  /* So we don't select the X and O:s by mistake*/
  user-select: none;
}

/* Every odd box should have a different color */
.board div:nth-child(odd){
  background-color: #00a;
}

/* 
  Don't let the 4:th and 7:th
  box have anything to its left
*/
.board div:nth-child(3n+4){
  clear:left;
}

.niceAlert {
  position: absolute;
  left: 30%;
  top: 30%;
  width: 40%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 34px 0px rgba(0,0,0,0.4);
  text-align: center;
}

.niceAlert button {
  display: block;
  margin: 20px auto 0;
}

.restart {
  position: absolute;
  top: 30px;
  left: 30px;
}

.selected {
  opacity: 0.7;
}

.howToMove {
  display: none;
  position:absolute;
  top: 70px;
  left: 40px;
  width: 110px;
  font-size: 11px;
  line-height: 130%;
}